<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastname}"></li>
        <li th:if="${user.email != null}" th:text="${user.email}"></li>
        <li th:if="${not (user.email != null)}" th:text="${'Sin correo'}"></li>
    </ul>

    <a th:href="@{/list}">Listado</a><br>
    <a th:href="@{'/api/params/foo?=' + ${title}}">Ver mensaje</a><br>
    <a th:href="@{/api/params/foo(message='Wena mis panas')}">Ver mensaje2</a><br>
    <a th:href="@{/api/params/bar(text='Hey', code=230)}">Ver mensaje3</a><br>
    <a th:href="@{/api/var/baz/hola algun mensaje}">Ver path variable</a><br>
    <a th:href="@{'/api/var/baz/' + ${title}}">Ver path variable2</a><br>
</body>
</html>