<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar parámetros GET</title>
</head>
<body>
    <h1>Enviar parámetros GET</h1>
    <ul>
        <li>
            <a th:href="@{/params/string(texto='Wena los cabros')}">Saludar</a>
        </li>
        <li>
            <a th:href="@{/params/string(texto='Qué sucede realmente')}">Cuestionar</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params(saludo='Wenisima mi gente', numero=910)}">Saludar de nuevo</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params-request(saludo='Wenisima mi gente', numero=910)}">Saludar de nuevo con HttpServlet</a>
        </li>
    </ul>
</body>
</html>